/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* HEADER */
.site-header{
	position: fixed;;
	width: 100%;
	z-index: 9999;
	padding: 15px;
}
.fix-header{
	height: 74px;
}
.op-header ul li a{
	font-size: 18px;
	color: #171717;
	letter-spacing: 1px;
	font-weight: bold;
}
.search-h{
	margin-left: 20px;
	padding-top: 10px;
	cursor: pointer;
}
/* / /*

/* MISC */
.v-center{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.d-flex{display: flex;}
.d-inline-flex{display: inline-flex;}

.p-t-25{padding-top: 25px;}
.p-b-25{padding-bottom: 25px;}
.p-t-50{padding-top: 50px;}
.p-b-50{padding-bottom: 50px;}
/* / */

/* TEXTING */
body{
	font-family: 'Niramit', sans-serif;
}
strong{font-weight: bold;}
h1 { 
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h3 { 
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h4 { 
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h5 { 
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h6 { 
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
/* / */

/* HOME */
.bg-home{
	background: url(../imagens/home/sogi.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: calc(100vh - 63px);
    position: relative;
}
.bg-blue{
	background-color: #0079BA;
	color: #fff;

}
table tr img{
    min-width: 47px;
    min-height: 47px;
}
/* / */

/* FOOTER */
.title-blog-vg{
	text-align: center;
	font-size: 36px;
	background-color: #C4C4C4;
	color: #fff;
	padding: 15px 0;
}
.n-footer {
background-color:#0079BA;
color:#fff;
padding: 50px 0;
}

.footer-column {
margin:1.5%
}

.block-links {
border-top:1px solid #fff;
border-bottom:1px solid #fff;
margin-bottom:30px;
margin-top:30px
}

.n-footer .links ul {
list-style:none;
margin:0;
padding:0;
text-align:left
}

.n-footer .links ul li {
margin-bottom:0;
line-height:1.5
}

.n-footer a {
color:#fff
}

.n-footer p {
line-height:1.5;
margin-bottom:0
}

.social-footer ul {
list-style:none;
margin:0;
padding:0
}

.social-footer li {
display:inline
}

.icons-social i {
background-color:rgba(255,255,255,.3);
border-radius:50px;
height:32px;
width:32px;
cursor:pointer;
text-align:center
}

.icons-social i::before {
font-size:20px;
line-height:1.5;
color:#005F73
}

.icons-social i:hover {
background-color:#fff
}

/* /FOOTER */