/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* HEADER */
.site-header{
	position: fixed;;
	width: 100%;
	z-index: 999;
	padding: 15px;
}
.fix-header{
	height: 74px;
}
.op-header ul li a{
	font-size: 18px;
	color: #171717;
	letter-spacing: 1px;
	font-weight: bold;
}
.search-h{
	margin-left: 20px;
	padding-top: 10px;
	cursor: pointer;
}
.icon-tools i{
    font-size: 28px;
    color: #fff;
    margin-top: 3px;
    margin-right: 15px;
    cursor: pointer;
}
.border-l-w{
    border-left: 1px solid #fff;
}
.s-menu a{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}
.s-menu ul{
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    margin: 0;
    padding: 0;
}
.s-menu li{
    position: relative;
    padding: 20px;
}
.s-menu ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 45px;
    left: 0;    
    z-index: 99999;
    background-color: #fff;
    width: 300px;
    display: none; /* Added */
    margin-left: 0;
    transition: .2s;
}
.s-menu ul ul a{
    color: #333;
}
.s-menu ul li:hover>ul, .s-menu ul li.focus>ul {
    /* left: auto; */
    display: block; /* Added */
    text-align: left;
    transition: .2s;
}
.sub-menu li{
    padding: 15px 10px;
}
.sub-menu li:hover, .s-menu a:hover{
    text-decoration: underline;
}
/* Solucoes menu */
.solucoes-vg{
    position: absolute;
    background-color: #fff;
    width: 780px;
    right: 0;
    margin-top: 25px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.22);
}
.solucoes-vg:before{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12.5px 20px 12.5px;
    border-color: transparent transparent #fcfdff transparent;
    position: absolute;
    top: -19px;
    left: 94%;
}
.solucoes-vg img{margin-bottom: 20px;}
.solucoes-vg h3{
    color: #0079BA;
    font-size: 20px;
    padding: 20px 0;
    border-bottom: 1px solid #E0E0E0;
    text-align: center;
    font-weight: bold;
}
.solucoes-vg a{width: 100%;}
.solucoes-vg ul{
    display: flex;
    margin: 10px 0;
}
.solucoes-vg ul li{
    flex-basis: 100%;
    text-align: center;
    border-right: 1px solid #E0E0E0;
    padding: 20px 10px;
}
.solucoes-vg ul li:last-child{border-right: 0;}
.invisible{display: none;}
.langs select{
    border:0;
    background-color: transparent;
    color: #fff;
    margin: 7px 10px;
}
.langs select option{
    background: #333;
    color: #fff;
}
.search-top .search-field {
    height: 32px;
    border-radius: 0px!important;
    background: rgba(220,220,220,.5);
    border: 0;
    color: #fff;
    max-width: 180px;
    text-indent: 10px;
    padding-right: 30px;
    margin-top: 2px;
    position: relative;
}
.icon-search {
    padding-right: 9px;
    position: absolute;
    top: 9px;
    right: 0;
    z-index: 2;
    color: rgba(238,238,238,.4);
}
.search-top i.fa.fa-search:before {
    font-family: FontAwesome!important;
}
/* / /*

/* MISC */
.v-center{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.flex-wrap{
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.d-inline-flex{
    display: inline-flex;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
}
.d-inline{display: inline;}
.p-t-15{padding-top: 15px;}
.p-b-15{padding-bottom: 15px;}
.p-t-25{padding-top: 25px;}
.p-b-25{padding-bottom: 25px;}
.p-t-50{padding-top: 50px;}
.p-b-50{padding-bottom: 50px;}
.p-t-75{padding-top: 75px;}
.p-b-75{padding-bottom: 75px;}
.p-t-100{padding-top: 100px;}
.p-l-10{padding-left: 10px;}
.p-r-25{padding-right: 25px;}
.p-b-100{padding-bottom: 100px;}
.p-relative{position: relative;}
.m-t-15{margin-top: 15px;}
.m-t-50{margin-top: 50px;}
.m-t-145{margin-top: 145px;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.float-right{float: right;}
.float-left{float: left;}
.w-10{width: 10%;}
.w-20{width: 20%;}
.w-80{width: 80%;}
.w-90{width: 90%;}
.no-m{margin: 0;}
.pointer{cursor: pointer;}
/* / */

/* TEXTING */
body{font-family: 'Montserrat', sans-serif;}
strong{font-weight: bold;}
small {
    font-size: 80%;
}
/*h1 { 
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h3 { 
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h4 { 
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h5 { 
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h6 { 
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}*/
p{
    line-height: 1.5;
}
.f-normal{font-weight: normal}
/* / */

/* HOME */
/*.bg-home{
	background: url(../imagens/home/sogi.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: calc(100vh - 63px);
    position: relative;
}*/
.bg-blue{
	background-color: #0079BA;
	color: #fff;
}
.bg-white{
    background-color: #fff;
}
.vantagens-home h3{
    margin-top: 0;
    margin-bottom: 5px;
}
.vantagens-home table{height: 100%;}
.vantagens-home table tr img{
    min-width: 47px;
    min-height: 47px;
}
.vantagens-home table tr td:first-child{
    vertical-align: middle;
    padding-right: 20px;
}
.vantagens-home table tr td:nth-child(2n){
    padding: 10px;
}
.vantagens-home ul{margin: 0; padding: 0;}
.vantagens-home ul li{
    list-style: disc;
    margin-left: 20px;
}
.faxia-conv-azul{
    background: #0079BA;
    color: #fff;
    padding: 15px 0;
}
ul.inline-list{
    display: inline-flex;
    margin-top: 15px;
    border-top: 1px solid #fff;  
}
ul.inline-list li{margin-right: 25px}
ul.inline-list li:last-child{margin-right: 0px}
.text-banner{
    color: #fff;
    line-height: 1.4;
}
.black-header {
    background-color:#333333;
    transition:1s;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.22);
}
.black-header a{
    color: #fff;
}
.black-header .solucoes-vg a{color: #337ab7;}
#diagonal-border{
    position: relative;
}
#diagonal-border .container{
    z-index: 4;
    position: relative;
}
#diagonal-border::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(2deg);
    z-index: 3;
}
#diagonal-border::before{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: #fff;
    top: -56px;
    transform-origin: top left;
    transform: skewY(2deg);
    z-index: 3;
}
.bg-royal{
    background: #045581;
    color: #fff;
}
.bg-royal h2{line-height: 1.3}
.box-depoimento{
    max-width: 800px;
    margin: auto;
    padding: 20px 0;
}
.b-top{border-top: 1px solid #000;}
.b-top-w{border-top: 1px solid #fff;}
.bg-cinza{background: #F2F2F2;}
ul.clientes{
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}
ul.clientes li{margin: 0 15px;}
.bg-marinho{
    background: #292E3D;
    color: #fff;
}
.title-blue{
    font-size: 32px;
    color: #0079BA;
    font-weight: bold;
}
ul.facilidades{
    margin: 0
}
ul.facilidades li{
    padding: 15px;
    font-weight: bold;
}
.box-blue{
    height: 260px;
    padding: 40px;
    background: rgba(0, 121, 186, 0.9);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    top: 85px;
}
/* / */

/* MENU OFFCANVAS */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#masthead {
    transition: margin-left .5s;
    padding: 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.menu-mob{
    color: #fff;
    font-size: 25px;
}
.menu-mob i{margin-top: 15px;}
/* / */

/* PAGINA MODULOS */
.bg-lira{
    background:#2092BF;
    color: #fff;
}
.bg-aud{
    background:#39AF75;
    color: #fff; 
}
.bg-gaia{
    background:#107A49;
    color: #fff;
}
.bg-prsst{
    background:#3A3AAF;
    color: #fff;
}
.bg-tnc{
    background: #B03966;
    color: #fff;
}
.bg-rl{
    background: #881D0C;
    color: #fff;
}
.bg-rn{
    background: #EDAE49;
    color: #fff;
}
.bg-doc{
    background: #58467E;
    color: #fff;
}
.bg-licencas{
    background: #C34210;
    color: #fff;
}
.bg-liracorp{
    background: #2092BF;
    color: #fff;
}
.bg-banner-lira{
    background:#2092BF;
    color: #fff;
    height: 80vh;
}
.bg-banner-aud{
    background:#39AF75;
    color: #fff;
    height: 80vh; 
}
.bg-banner-gaia{
    background:#107A49;
    color: #fff;
    height: 80vh;
}
.bg-banner-prsst{
    background: #3A3AAF;
    color: #fff;
    height: 80vh;
}
.bg-banner-tnc{
    background: #B03966;
    color: #fff;
    height: 80vh;
}
.bg-banner-rl{
    background: #881D0C;
    color: #fff;
    height: 80vh;
}
.bg-banner-rn{
    background: #EDAE49;
    color: #fff;
    height: 80vh;
}
.bg-banner-licencas{
    background: #C34210;
    color: #fff;
    height: 80vh;
}
.bg-banner-doc{
    background: #58467E;
    color: #fff;
    height: 80vh;
}
.bg-banner-liracorp{
    background: #2092BF;
    color: #fff;
    height: 80vh;
}
.w-img{
    width: 24%;
    position: relative;
    top: 60px;
}
.w-text{width: 76%}
.img-floating{
    position: relative;
    z-index: 10;
    top:160px;
}
.conversion-row{padding: 200px 0 70px 0;}
/* / */

/* BOX MODULOS */
.bg-modulos{background-color: #F2F2F2;}
ul.mod-list li{
    padding: 10px 0;
    text-align: center;
    width: 20%;
}
ul.mod-list li:last-child{margin-right: 0px}
.b-r-g{
    border-right: 1px solid #a1a1a1;
    background: #f2f2f2;
}
.b-r-w{
    border-right: 1px solid #a1a1a1;
    background: #fff;
}
.b-r-g:after, .b-r-w:after{
    content: '\f105';
    font-family: FontAwesome;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -10px;
    font-size: 40px;
    background: inherit;
    color: #FFAB00;
}
/* / */

/* LIRA */
.vantagens-lira img{
    padding-bottom: 15px;
}
.box-gray{
    background-color: #F2F2F2;
    padding: 80px
}
.bar-grad{
    background: linear-gradient(90deg, #0079BA 1.41%, #50A3CF 100%);
    height: 48px;
    width: 80%;
}
.l-h3{width: 20%;}
.l-h3 h3{
    font-size: 24px;
    color: #3695C8;
    margin: 0
}
/* / */

/* PASSO A PASSO */
.p-a-p h2, .p-a-p p{color: #2089C2;}
.p-a-p p{font-size: 18px;}
.p-a-p ol {
   list-style: none;
   counter-reset: item;
   text-align: center;
 }
.p-a-p li {
    counter-increment: item;
    margin-right: 10px;
    margin-bottom: 10px;
 }
.p-a-p li:before {
   content: counter(item);
   text-align: center;
   display: inline-block;
   font-size: 72px;
   color: #2089C2;
   font-weight: 500;
   width: 100%;
}
.p-a-p p{
    padding: 10px 40px;
}
.lira-count ol li:nth-of-type(1):before{
    border-bottom: 15px solid #215570;
}
.lira-count ol li:nth-of-type(2):before{
    border-bottom: 15px solid #257096;
}
.lira-count ol li:nth-of-type(3):before{
    border-bottom: 15px solid #2E87B4;
}
.lira-count ol li:nth-of-type(4):before{
    border-bottom: 15px solid #3387B1;
}
.lira-count ol li:nth-of-type(5):before{
    border-bottom: 15px solid #1C88C2;
}

.aud-gaia-count ol li:nth-of-type(1):before{
    border-bottom: 15px solid #107A49;
}
.aud-gaia-count ol li:nth-of-type(2):before{
    border-bottom: 15px solid #1A965D;
}
.aud-gaia-count ol li:nth-of-type(3):before{
    border-bottom: 15px solid #25B070;
}
.aud-gaia-count ol li:nth-of-type(4):before{
    border-bottom: 15px solid #34CC85;
}
.aud-gaia-count ol li:nth-of-type(5):before{
    border-bottom: 15px solid #48EBA0;
}
.aud-gaia-count ol li:nth-of-type(6):before{
    border-bottom: 15px solid #48EBA0;
}

.prsst-count ol li:nth-of-type(1):before{
    border-bottom: 15px solid #3A3AAF;
}
.prsst-count ol li:nth-of-type(2):before{
    border-bottom: 15px solid #5A5ACE;
}
.prsst-count ol li:nth-of-type(3):before{
    border-bottom: 15px solid #8282EE;
}
.prsst-count ol li:nth-of-type(4):before{
    border-bottom: 15px solid #9C9CF8;
}
.prsst-count ol li:nth-of-type(5):before{
    border-bottom: 15px solid #BABAF7;
}

.tnc-count ol li:nth-of-type(1):before{
    border-bottom: 15px solid #B03966;
}
.tnc-count ol li:nth-of-type(2):before{
    border-bottom: 15px solid #C54776;
}
.tnc-count ol li:nth-of-type(3):before{
    border-bottom: 15px solid #D65B89;
}
.tnc-count ol li:nth-of-type(4):before{
    border-bottom: 15px solid #EF77A4;
}
.tnc-count ol li:nth-of-type(5):before{
    border-bottom: 15px solid #FF9CC1;
}

.rl-count ol li:nth-of-type(1):before{
    border-bottom: 15px solid #881D0C;
}
.rl-count ol li:nth-of-type(2):before{
    border-bottom: 15px solid #B12C17;
}
.rl-count ol li:nth-of-type(3):before{
    border-bottom: 15px solid #CB3A23;
}
.rl-count ol li:nth-of-type(4):before{
    border-bottom: 15px solid #D46756;
}
.rl-count ol li:nth-of-type(5):before{
    border-bottom: 15px solid #E27C6C;
}

.rn-count ol li:nth-of-type(1):before{
    border-bottom: 15px solid #EDAE49;
}
.rn-count ol li:nth-of-type(2):before{
    border-bottom: 15px solid #F7BD5F;
}
.rn-count ol li:nth-of-type(3):before{
    border-bottom: 15px solid #FDC976;
}
.rn-count ol li:nth-of-type(4):before{
    border-bottom: 15px solid #FFD693;
}
.rn-count ol li:nth-of-type(5):before{
    border-bottom: 15px solid #FFDEA8;
}

.licencas-count ol li:nth-of-type(1):before{
    border-bottom: 15px solid #C34210;
}
.licencas-count ol li:nth-of-type(2):before{
    border-bottom: 15px solid #DE541E;
}
.licencas-count ol li:nth-of-type(3):before{
    border-bottom: 15px solid #EA6E3E;
}
.licencas-count ol li:nth-of-type(4):before{
    border-bottom: 15px solid #EA6E3E;
}
.licencas-count ol li:nth-of-type(5):before{
    border-bottom: 15px solid #F38358;
}

.doc-count ol li:nth-of-type(1):before{
    border-bottom: 15px solid #58467E;
}
.doc-count ol li:nth-of-type(2):before{
    border-bottom: 15px solid #6A5695;
}
.doc-count ol li:nth-of-type(3):before{
    border-bottom: 15px solid #826FAB;
}
.doc-count ol li:nth-of-type(4):before{
    border-bottom: 15px solid #AA9EC4;
}
.doc-count ol li:nth-of-type(5):before{
    border-bottom: 15px solid #C7BEDA;
}

.liracorp-count ol li:nth-of-type(1):before{
    border-bottom: 15px solid #2092BF;
}
.liracorp-count ol li:nth-of-type(2):before{
    border-bottom: 15px solid #33A3CF;
}
.liracorp-count ol li:nth-of-type(3):before{
    border-bottom: 15px solid #52B8E1;
}
.liracorp-count ol li:nth-of-type(4):before{
    border-bottom: 15px solid #53BEE8;
}
.liracorp-count ol li:nth-of-type(5):before{
    border-bottom: 15px solid #79D7FC;
}
/* / */

/* APPS */
.bg-app{
    background: url(../imagens/bg-app.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 50vh;
    background-attachment: fixed;
}
.bg-app h2{
    color: #FFAB00;
    font-size: 48px;
}
.bg-app p{color: #fff;}
/* / */

/* Buttons */
.btn-def{
    display: inline-block;
    padding: 15px 20px;
    cursor: pointer;
    transition: .3s;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
}
.btn-yellow, .btn-yellow-h{
    background-color: #FFAB00;
    border-radius: 50px;
}
.btn-yellow:hover, .btn-yellow-h:hover{
    background-color: #BA7D00;
}
.btn-pink{
    border-radius: 30px;
    background: #FE214C;
    display: inline-block;
    cursor: pointer;
    padding: 8px 16px;
    font-weight: bold;
}
.btn-azul-h, .btn-yellow-h{
    border-radius: 50px;
    text-transform: unset;
    font-size: 14px;
    padding: 10px 15px;
}
.btn-azul{border-radius: 50px;}
.btn-azul-h, .btn-azul{
    background-color: #2F80ED;
    margin-right: 15px;
}
.btn-azul-h:hover, .btn-azul:hover{background-color: #235EAD;}
.btn-yellow-h{background-color: #FFAB00;}
.btn-leia-mais{
    padding: 15px 40px;
    background-color: #fff;
    font-size: 18px;
    font-weight: 900;
    border: 1px solid #2F80ED;
    display: inline-block;
    cursor: pointer;
    border-radius: 30px;
}
.btn-white{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    text-transform: unset;
}
.btn-white:hover{
    background-color: rgba(0,0,0,.1);
    text-decoration: none;
}
a.btn-white{color: #2089C2;}
a.btn-leia-mais{color: #2F80ED;}
a.btn-pink, a.btn-azul, a.btn-azul-h, a.btn-yellow-h, .btn-red a{color: #fff!important;}
a.btn-yellow{color: #000;}
/* / */

/* TABS */
.bg-tabs{
    background: url('../imagens/bg-tabs.png') no-repeat center center fixed;   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: calc(50vh);
    color: #fff;
}
.s-tabs .nav-tabs{
    display: block;
    border-bottom: 0;
}
.s-tabs .nav-tabs .nav-link{
    border-radius: 30px;
    border: 1px solid #fff;
    text-align: center;
    margin-bottom: 15px;
    color: #fff;
    font-weight: bold;
}
.s-tabs .nav-tabs .nav-link:last-child{
    margin-bottom: 0
}
.s-tabs .nav-link.active{
    color: #2089C2;
}
.s-tabs .tab-pane p{padding: 0 15px;}
.s-tabs .tab-pane img{
    margin-bottom: 15px;
    max-height: 330px;
    width: auto;
}
.s-tabs .listin-tabs{
    font-weight: bold;
    display: inline-block;
    padding: 10px 15px 0;
}
/* / */

/* NOTICIAS */
.first-post a, .old-posts a{color: #000;}
.first-post{
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.first-post h2{
    margin-bottom: 10px;
    font-size: 30px;
}
.old-posts h2{
    font-weight: 400;
    font-size: 18px;
}
h2.t-noticias{
    background: #2089C2;
    color: #fff;
    padding: 15px;
    width: auto;
    margin-bottom: 10px;
    display: inline-block;
}
a.cont-lendo{
    font-size: 12px;
    color: #2089C2
}
/* / */

/* FOOTER */
.title-blog-vg{
	text-align: center;
	font-size: 36px;
	background-color: #C4C4C4;
	color: #fff;
	padding: 15px 0;
}
.n-footer {
background-color:#0079BA;
color:#fff;
padding: 50px 0;
}
.block-links {
border-top:1px solid #fff;
border-bottom:1px solid #fff;
margin-bottom:30px;
margin-top:30px;
padding: 15px;
}
.block-links h3{margin-top: 0px;}

.n-footer .links ul {
list-style:none;
margin:0;
padding:0;
text-align:left
}

.n-footer .links ul li {
margin-bottom:0;
line-height:1.5
}

.n-footer a {
color:#fff
}

.n-footer p {
line-height:1.5;
margin-bottom:0
}

.social-footer ul {
list-style:none;
margin:0;
padding:0
}

.social-footer li {
display:inline
}

.icons-social i {
background-color:rgba(255,255,255,.3);
border-radius:50px;
height:32px;
width:32px;
cursor:pointer;
text-align:center
}

.icons-social i::before {
font-size:20px;
line-height:1.5;
color:#005F73
}

.icons-social i:hover {
background-color:#fff
}

/* /FOOTER */

/* INTEGRACAO */
.btn-imprimir{
    background-color: #C4C4C4;
    width: 50%;
    text-align: center;
    margin-right: 15px;
    height: 55px;
}
.btn-red{
    background-color: #FE214C;
    width: 50%; 
    text-align: center;
    height: 55px;
}
.btn-red a{
    color: #fff;
    font-weight: bold;
    width: 100%;
    height: 100%;
    display: inline-block;
    cursor: pointer;
    line-height: 3.4;
}
.btn-imprimir a{
    color: #333;
    font-weight: bold;
    width: 100%;
    height: 100%;
    display: inline-block;
    cursor: pointer;
    line-height: 3.4;
}
.card-preco{
    border: 1px solid #2092BF;
    text-align: center;
    width: 50%;
    margin-right: 15px;
}
.card-preco:last-child{
    margin-right: 0
}
.check-adessao{
    padding: 40px 0;
    color: #333;
    font-weight: bold;
}
.preco{
    background-color: #2092BF;
    padding: 20px;
    color: #fff;
}
.no-m{margin: 0}
.p-adesao .preco{
    min-height: 100px;
}
.valor{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px
}
/* / */

/* Integraçao outros moduluos */
.block-licencas{
    width: 70%;
    margin-right: 10px;
    padding: 25px;
    background: #fff;
}
.block-precos-licencas{
    width: 30%;
    padding: 25px;
    text-align: center;
}
.block-precos-licencas .PrecoModulo{
    font-weight: bold;
    font-size: 18px;    
}
.block-licencas .NomeModulo{
    width: auto;
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
}
.block-licencas input{
    float: right;
    border: 0;
    border-left: 1px solid;
    font-weight: bold;
    text-align: center;
    border-radius: 0;
}
.block-licencas input[type=number]::-webkit-inner-spin-button, 
.block-licencas input[type=number]::-webkit-outer-spin-button {
   opacity: 1;
}
/* / */

/* Integracao lira */
.t-integration h2{
    font-weight: bold;
    font-size: 32px;
    color: #2089C2;
}
.block-integration-header{
    background-color: #0079BA ;
    color: #fff;
    padding: 10px 30px;
    font-size: 25px;
    font-style: normal;
    font-weight: bold;
}
.block-integration-header p{display: inline-block;}
.block-integration-header i{font-size: 35px;}
.block-integration-body{
    background-color: #F2F2F2;
    padding: 30px;
}
.col-pacote{
    margin-right: 15px;
    padding: 30px;
    background: #fff;
    width: 100%;
    position: relative;
    margin-bottom: 15px
}
.col-pacote:last-of-type{
    margin-right: 0;
}
.col-pacote h3{
    color: #0079BA;
    font-size: 24px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
}
.pacote-preco{
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    color: #292E3D;
    margin-bottom: 30px;
}
.col-pacote p{
    margin: 50px 0;
    font-size: 14px;
    min-height: 100px;
}
.pacote-radio{
    border-top: 1px solid #C4C4C4;
    text-align: center;
    padding: 30px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    bottom: 0;
}
.cortesia{
    margin-bottom: 30px;
    padding-bottom: 50px;
    font-size: 14px;
}
.pacote-radio input{
    border: 0;
    box-shadow: none;
    width: 20px;
    height: 20px;
}
.mais-popular{
    border: 1px solid #FFAB00;
}
.mais-popular:before{
    content: 'Pacote mais popular';
    position: absolute;
    font-size: 14px;
    top: -30px;
    left: -1px;
    right: 0; 
    background: #FFAB00;
    color: #fff;
    padding: 5px;
    width: 101%;
    text-align: center;
    border: 1px solid #FFAB00;
}
.form-field{
    margin-bottom: 20px;
}
.form-field label{
    width: 10%;
    padding-top: 10px;
    font-weight: bold;
}
.form-field input{
    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 90%;
    height: 41px;
    text-indent: 15px;
}
/* / */

/* MODAL */
.modal-title {
    margin-top: 0;
    color: #171717;
}
/* / */

@media only screen and (min-width:1025px) {
    .dp-flex{
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
    }
    .p-a-p ol{
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-wrap:wrap;
    }
    .p-a-p li {
        min-width: 30%;
        max-width: 30%;
        flex:1;
    }
    .form-field{
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
    }
}