/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* HEADER */
.site-header{
	position: fixed;;
	width: 100%;
	z-index: 9999;
	padding: 15px;
}
.fix-header{
	height: 74px;
}
.op-header ul li a{
	font-size: 18px;
	color: #171717;
	letter-spacing: 1px;
	font-weight: bold;
}
.search-h{
	margin-left: 20px;
	padding-top: 10px;
	cursor: pointer;
}
.icon-tools i{
    font-size: 28px;
    color: #fff;
    margin-top: 3px;
    margin-right: 25px;
    cursor: pointer;
}
.border-l-w{
    border-left: 1px solid #fff;
}
.s-menu a{
    font-weight: bold;
    color: #fff;
    font-size: 16px;
}
.s-menu ul{display: inline-flex;}
.s-menu li{margin-right: 30px;}
.s-menu li:last-child{margin-right: 0}
/* Solucoes menu */
.solucoes-vg{
    position: absolute;
    background-color: #fff;
    width: 780px;
    margin-left: -388px;
    margin-top: 25px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.22);
}
.solucoes-vg:before{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12.5px 20px 12.5px;
    border-color: transparent transparent #fcfdff transparent;
    position: absolute;
    top: -19px;
    left: 50%;
}
.solucoes-vg img{margin-bottom: 20px;}
.solucoes-vg h3{
    color: #0079BA;
    font-size: 20px;
    padding: 20px 0;
    border-bottom: 1px solid #E0E0E0;
    text-align: center;
    font-weight: bold;
}
.solucoes-vg a{width: 100%;}
.solucoes-vg ul{
    display: flex;
    margin: 10px 0;
}
.solucoes-vg ul li{
    flex-basis: 100%;
    text-align: center;
    border-right: 1px solid #E0E0E0;
    padding: 20px 10px;
}
.solucoes-vg ul li:last-child{border-right: 0;}
.invisible{display: none;}
/* / */
/* / /*

/* MISC */
.v-center{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.d-flex{display: flex;}
.d-inline-flex{display: inline-flex;}

.p-t-15{padding-top: 15px;}
.p-t-25{padding-top: 25px;}
.p-b-25{padding-bottom: 25px;}
.p-t-50{padding-top: 50px;}
.p-b-50{padding-bottom: 50px;}
.p-t-75{padding-top: 75px;}
.p-b-75{padding-bottom: 75px;}
.p-t-100{padding-top: 100px;}
.p-b-100{padding-bottom: 100px;}
.p-relative{position: relative;}
.full-width{
    width: 100%;
    height: auto;
    position: relative;
    z-index: 10
}
.m-t-145{margin-top: 145px;}
/* / */

/* TEXTING */
body{
	font-family: 'Niramit', sans-serif;
}
strong{font-weight: bold;}
small {
    font-size: 80%;
}
h1 { 
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h3 { 
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h4 { 
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h5 { 
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h6 { 
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
p{
    line-height: 1.5;
}
/* / */

/* HOME */
.bg-home{
	background: url(../imagens/home/sogi.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: calc(100vh - 63px);
    position: relative;
}
.bg-blue{
	background-color: #0079BA;
	color: #fff;
}
.vantagens-home h3{
    margin-top: 0;
    margin-bottom: 5px;
}
.vantagens-home table{height: 100%;}
.vantagens-home table tr img{
    min-width: 47px;
    min-height: 47px;
}
.vantagens-home table tr td:first-child{
    vertical-align: middle;
    padding-right: 20px;
    border-right: 1px solid #000000;
}
.vantagens-home table tr td:nth-child(2n){
    padding: 20px;
}
.vantagens-home ul li{
    list-style: disc;
    margin-left: 20px;
}
.faxia-conv-azul{
    background: #0079BA;
    color: #fff;
    padding: 15px 0;
}
ul.inline-list{
    display: inline-flex;
    margin-top: 15px;
    border-top: 1px solid #fff;  
}
ul.inline-list li{margin-right: 25px}
ul.inline-list li:last-child{margin-right: 0px}
.text-banner{
    color: #fff;
    line-height: 1.4;
}
.black-header {
    background-color:#333333;
    transition:1s;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.22);
}
.black-header a{
    color: #fff;
}
#diagonal-border{
    position: relative;
}
#diagonal-border .container{
    z-index: 4;
    position: relative;
}
#diagonal-border::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(2deg);
    z-index: 3;
}
#diagonal-border2::after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(2deg);
    z-index: 1;
}
.bg-royal{
    background: #045581;
    color: #fff;
}
.box-depoimento{
    max-width: 800px;
    margin: auto;
    padding: 20px 0;
}
.b-top{
    border-top: 1px solid #000;
}
/* / */

/* PAGINA MODULOS */
.bg-lira{
    background:#2092BF;
    color: #fff;
}
.bg-aud{
    background:#39AF75;
    color: #fff; 
}
.bg-gaia{
    background:#107A49;
    color: #fff;
}
.bg-prsst{
    background:#3A3AAF;
    color: #fff;
}
.bg-tnc{
    background: #B03966;
    color: #fff;
}
.bg-rl{
    background: #881D0C;
    color: #fff;
}
.bg-rn{
    background: #EDAE49;
    color: #fff;
}
.bg-doc{
    background: #58467E;
    color: #fff;
}
.bg-licencas{
    background: #C34210;
    color: #fff;
}
.bg-liracorp{
    background: #2092BF;
    color: #fff;
}
.bg-banner-lira{
    background:#2092BF;
    color: #fff;
    height: 80vh;
}
.bg-banner-aud{
    background:#39AF75;
    color: #fff;
    height: 80vh; 
}
.bg-banner-gaia{
    background:#107A49;
    color: #fff;
    height: 80vh;
}
.bg-banner-prsst{
    background: #3A3AAF;
    color: #fff;
    height: 80vh;
}
.bg-banner-tnc{
    background: #B03966;
    color: #fff;
    height: 80vh;
}
.bg-banner-rl{
    background: #881D0C;
    color: #fff;
    height: 80vh;
}
.bg-banner-rn{
    background: #EDAE49;
    color: #fff;
    height: 80vh;
}
.bg-banner-licencas{
    background: #C34210;
    color: #fff;
    height: 80vh;
}
.bg-banner-doc{
    background: #58467E;
    color: #fff;
    height: 80vh;
}
.bg-banner-liracorp{
    background: #2092BF;
    color: #fff;
    height: 80vh;
}
.w-img{
    width: 24%;
    position: relative;
    top: 60px;
}
.w-text{width: 76%}
.align-vid{
    position: absolute;
    left: 0;
}
/* / */

/* CONVERSION ROW */
.conversion-row{
    padding: 80px 0 40px 0;
    position: absolute;
    width: 100%;
    bottom: -145px;
    z-index: 1;

}
.border-yllw{
    border-left: 1px solid #F2C94C;
}
.conversion-row span{
    font-size: 14px;
    display: inline-block;
    text-transform: uppercase;
    margin-top: 10px;
}
/* / */

/* Buttons */
.btn-def{
    display: inline-block;
    padding: 15px 20px;
    cursor: pointer;
    transition: .3s;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
}
.btn-yellow{
    background: #FFAB00;
}
.btn-pink{
    border-radius: 30px;
    background: #FE214C;
    display: inline-block;
    cursor: pointer;
    padding: 8px 16px;
    font-weight: bold;
}
.btn-leia-mais{
    padding: 15px 40px;
    background-color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #2F80ED;
    display: inline-block;
    cursor: pointer;
    border-radius: 30px;
}
a.btn-leia-mais{color: #2F80ED;}
a.btn-pink{color: #fff;}
a.btn-yellow{color: #000;}
/* / */

/* NOTICIAS */
.title-blog-vg{
    text-align: center;
    font-size: 36px;
    background-color: #C4C4C4;
    padding: 15px 0;
}
.title-blog-vg h2{
    font-size: 36px;
    color: #fff;
    margin: 0;
}
.blog-box{
    padding: 15px;
}
.blog-box p{
    margin-top: 10px;
}
.border-left{
    border-left: 4px solid #2D9CDB;
}
.titulo-noticia h2, .titulo-noticia a {
    font-size: 20px;
    color: #000000;
}
.img-noticia img{
    border-radius: 100%;
}
.border-bot{
    border-bottom: 1px solid #E0E0E0
}
/* / */

/* FOOTER */
.title-blog-vg{
	text-align: center;
	font-size: 36px;
	background-color: #C4C4C4;
	color: #fff;
	padding: 15px 0;
}
.n-footer {
background-color:#0079BA;
color:#fff;
padding: 50px 0;
}

.footer-column {
margin:1.5%
}

.block-links {
border-top:1px solid #fff;
border-bottom:1px solid #fff;
margin-bottom:30px;
margin-top:30px
}

.n-footer .links ul {
list-style:none;
margin:0;
padding:0;
text-align:left
}

.n-footer .links ul li {
margin-bottom:0;
line-height:1.5
}

.n-footer a {
color:#fff
}

.n-footer p {
line-height:1.5;
margin-bottom:0
}

.social-footer ul {
list-style:none;
margin:0;
padding:0
}

.social-footer li {
display:inline
}

.icons-social i {
background-color:rgba(255,255,255,.3);
border-radius:50px;
height:32px;
width:32px;
cursor:pointer;
text-align:center
}

.icons-social i::before {
font-size:20px;
line-height:1.5;
color:#005F73
}

.icons-social i:hover {
background-color:#fff
}

/* /FOOTER */